.soc-link {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: $radius;
	width: 36px;
	height: 36px;
	background: rgba(255, 255, 255, 0.7);

	&:hover {
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
	}

	&_large {
		width: 52px;
		height: 52px;
	}

	&_telegram {
		background: #33BBFF;
	}

	&_whatapp {
		background: #80E58C;
	}

	@media (max-width: 576px) {
		&_large {
			width: 44px;
			height: 44px;
		}
	}
}
